@*  @using Microsoft.AspNetCore.Identity;
@using MamaBurger.DTOsVMs.DTOs;
@using MamaBurger.Classes.Entites;
@using MamaBurger.Classes.Enums;
@model SiparisOlusturDTO
@inject UserManager<AppUser> UserManager
@{
    ViewData["Title"] = "SiparisOlustur";
    AppUser user = await UserManager.GetUserAsync(User);
}

<div class="container-xxl py-5 bg-beige  mb-5">
    <div class="container text-center my-5 pt-5 pb-4">
        <h1 class="display-3 text-daark mb-3 animated slideInDown">MENÜLER</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-9">
            <section class="products">
                @foreach (Menu menu in Model.Menuler)
                {
                    string modalAdi = "modalAdi" + menu.ID.ToString();
                    string modalAdihashtag = "#" + modalAdi;
                    <div class="all-products">
                        <div class="product">
                            <img class="img-fluid" src="data:image/jpeg;base64,(menu.Fotograf)">
                            <div class="product-info">
                                <h4 class="product-title">
                                    @menu.Adi Menü
                                </h4>
                                <p class="product-price">@menu.Fiyat</p>
                              
                                <div>
                                    
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target=@modalAdihashtag>
                                        SEPETE EKLE
                                    </button>

                                   
                                    <div class="modal fade" id=@modalAdi tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <img class="img-fluid" src="data:image/jpeg;base64,(menu.Fotograf)">
                                                </div>
                                                <div class="modal-body" >
                                                    <form id="modalform">
                                                        <h2>@menu.Adi Menü</h2>
                                                        <hr>
                                                        <table >
                                                            
                                                            <tr>
                                                                <td>Küçük</td>
                                                                <td>@menu.Fiyat TL</td>
                                                                <td><input type="radio" name="boyut" checked="checked" value="@Boyut.Küçük" /></td>
                                                            </tr>
                                                            @{
                                                                decimal fiyat = menu.Fiyat * 1.2M;
                                                            }
                                                            <tr>
                                                                <td>Orta</td>
                                                                <td>@fiyat TL</td>
                                                                <td><input type="radio" name="boyut" value="@Boyut.Orta" /></td>
                                                            </tr>
                                                            @{
                                                                fiyat = menu.Fiyat * 1.4M;
                                                            }
                                                            <tr>
                                                                <td>Büyük</td>
                                                                <td>@fiyat TL</td>
                                                                <td><input type="radio" name="boyut" value="@Boyut.Büyük" /></td>
                                                            </tr>

                                                        </table>
                                                        <h3>Soslar</h3>
                                                        
                                                        <table>
                                                            <tr>
                                                                <th colspan="2">Ücretsiz Sos Seçimi</th>
                                                            </tr>
                                                            @foreach (ExtraMalzeme item in Model.ExtraMalzemeler)
                                                            {
                                                                if (item.Cesit == Cesit.Sos)
                                                                {
                                                                    <tr>
                                                                        <td>@item.Adi</td>
                                                                        <td>Ücretsiz</td>
                                                                        <td><input type="radio" value="@item.ID" name="sos1" /></td>
                                                                    </tr>
                                                                }
                                                                
                                                            }
                                                            <tr>
                                                                <th colspan="2">Ücretsiz Sos Seçimi</th>
                                                            </tr>
                                                            @foreach (ExtraMalzeme item in Model.ExtraMalzemeler)
                                                            {
                                                                if (item.Cesit == Cesit.Sos)
                                                                {
                                                                    <tr>
                                                                        <td>@item.Adi</td>
                                                                        <td>Ücretsiz</td>
                                                                        <td><input type="radio" value="@item.ID" name="sos2" /> </td>
                                                                    </tr>
                                                                }

                                                            }
                                                            
                                                        </table>
                                                    </form>
                                                    
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">İptal</button>
                                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="SiparisGonder(@menu.ID)">Sepete Ekle</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </section>
        </div>
        <div class="col-3" id="siparisListesi">
            <table class="table table-hover table-warning">
                <tr>
                    <th>Ürünleriniz</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </table>
            <input type="hidden" id="ekleme" value="1" />
        </div>
    </div>
</div>
<div>

    <input type="hidden" value="1" id="adet" />
</div>
 *@


@using Microsoft.AspNetCore.Identity;
@using MamaBurger.DTOsVMs.DTOs;
@using MamaBurger.Classes.Entites;
@using MamaBurger.Classes.Enums;
@model SiparisOlusturDTO
@inject UserManager<AppUser> UserManager
@{
    ViewData["Title"] = "SiparisOlustur";
    AppUser user = await UserManager.GetUserAsync(User);
}

<div class="container-xxl py-5 bg-beige mb-5">
    <div class="container text-center my-5 pt-5 pb-4">
        <h1 class="display-3 text-dark mb-3 animated slideInDown">MENÜLER</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-9">
            <section class="products">
                <div class="row">
                    @foreach (Menu menu in Model.Menuler)
                    {
                        string modalAdi = "modalAdi" + menu.ID.ToString();
                        string modalAdihashtag = "#" + modalAdi;
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <img src="data:image/jpeg;base64,@menu.Fotograf" class="card-img-top" alt="@menu.Adi Menü">
                                <div class="card-body">
                                    <h5 class="card-title">@menu.Adi Menü</h5>
                                    <p class="card-text">@menu.Fiyat TL</p>
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target=@modalAdihashtag>
                                        SEPETE EKLE
                                    </button>
                                </div>
                            </div>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id=@modalAdi tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">@menu.Adi Menü</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="modalform">
                                            <img src="data:image/jpeg;base64,@menu.Fotograf" class="img-fluid mb-3" alt="@menu.Adi Menü">
                                            <h6>@menu.Adi Menü</h6>
                                            <hr>
                                            <table class="table">
                                                <tr>
                                                    <td>Küçük</td>
                                                    <td>@menu.Fiyat TL</td>
                                                    <td><input type="radio" name="boyut" checked="checked" value="@Boyut.Küçük" /></td>
                                                </tr>
                                                @{
                                                    decimal fiyat = menu.Fiyat * 1.2M;
                                                }
                                                <tr>
                                                    <td>Orta</td>
                                                    <td>@fiyat TL</td>
                                                    <td><input type="radio" name="boyut" value="@Boyut.Orta" /></td>
                                                </tr>
                                                @{
                                                    fiyat = menu.Fiyat * 1.4M;
                                                }
                                                <tr>
                                                    <td>Büyük</td>
                                                    <td>@fiyat TL</td>
                                                    <td><input type="radio" name="boyut" value="@Boyut.Büyük" /></td>
                                                </tr>
                                            </table>
                                            <h6>Soslar</h6>
                                            <table class="table">
                                                <tr>
                                                    <th colspan="2">Ücretsiz Sos Seçimi</th>
                                                </tr>
                                                @foreach (ExtraMalzeme item in Model.ExtraMalzemeler)
                                                {
                                                    if (item.Cesit == Cesit.Sos)
                                                    {
                                                        <tr>
                                                            <td>@item.Adi</td>
                                                            <td>Ücretsiz</td>
                                                            <td><input type="radio" value="@item.ID" name="sos1" /></td>
                                                        </tr>
                                                    }
                                                }
                                                <tr>
                                                    <th colspan="2">İkinci Ücretsiz Sos Seçimi</th>
                                                </tr>
                                                @foreach (ExtraMalzeme item in Model.ExtraMalzemeler)
                                                {
                                                    if (item.Cesit == Cesit.Sos)
                                                    {
                                                        <tr>
                                                            <td>@item.Adi</td>
                                                            <td>Ücretsiz</td>
                                                            <td><input type="radio" value="@item.ID" name="sos2" /> </td>
                                                        </tr>
                                                    }
                                                }
                                            </table>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">İptal</button>
                                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="SiparisGonder(@menu.ID)">Sepete Ekle</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </section>
        </div>
        <div class="col-3" id="siparisListesi">
            <table class="table table-hover table-warning">
                <tr>
                    <th>Ürünleriniz</th>
                    <td>Menu Adı:</td>
                    <td>Fiyat:</td>
                    <td>Adet:</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <input type="hidden" id="ekleme" value="1" />
        </div>
    </div>
</div>
<div>
    <input type="hidden" value="1" id="adet" />
</div>

@section Scripts {
    <script>
        function SiparisGonder(menuId) {
           
            alert('Menu ID: ' + menuId + ' sepete eklendi.');
        }
    </script>
}






